header {
    width: 400px;
    margin: auto;
    border: 3px solid black;
    padding: 3px;
    text-align: justify;

}
#conteneur{
    width: 500px;
    border: 3px solid black;
    display: flex;
    flex-wrap: wrap;

}
.element{
    background-color: brown;
    margin: auto;
}
/*
.element2{
    background-color: cornflowerblue;
    margin: auto;
}
.element3{
    background-color: darkgoldenrod;
    margin: auto;
}
*/