body{
    background-color: snow;
}
#bloc_page{
    width: 90%;
    margin: auto;
    box-shadow: #ccc 0px 0px 10px;
}
.title-top{
    margin-left: 15px;
    margin-right: 15px;
    color: white;
    font-size: 1.1em;
    text-transform: uppercase;
    flex: 1;

}

.nav-top a{
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}
.flex-top{
    overflow: hidden;
    background-color: #333;
}
.flex-top{
    display: flex;
    flex-direction: row;
    align-items: baseline;
    
}
div .signup a{
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}
div .signup a.sign-up:hover{
    background-color:darkslateblue;
}
div .signup a.logout:hover{
    background-color: #ea5455;
}

.nav-top a:hover{
    background-color: #ddd;
    color: black;
}
.nav-top a.active{
    background-color: #4CAF50;
    color: white;
}

header a{
    text-decoration: none;
    font-size: 1.2em;
}
section div.article{
    
    margin-left: 15px;
    margin-right: 15px;
    text-align: justify;
}
div .article p{
    font-size: 1em;  
}
section .section{
    margin-top: 50px;
    display: flex;
    flex: 2;
    order: 1;
}

aside{
    background-color: #333;
    color: white;
    display: flex;
    flex-wrap: wrap;
    box-shadow: #ccc 0px 0px 10px;
    margin: 10px;
    padding-left: 10px;
    padding-right: 10px;
}
aside div img{
    width: 200px;
}
div ul{
    list-style: none;
    list-style-image: url("../images/flecheblanchedroite.png");
}

footer{
    overflow: hidden;
    background-color: #333;
    color: white;
    padding-right: 15px;
    padding-left: 15px;

}
.copyrigth{
    text-align: center;
}

