body{
    background-color: whitesmoke;
    margin-left: 5%;
    margin-right: 5%;
}

h1{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-style: italic;
}
h1, h2{
    background-color:dodgerblue;
    text-decoration: white;
    text-shadow: 6px 6px 10px black;
}
.photo{
    padding-left: 3px;
    height: 15%;
    width: 15%;
    border: 6px solid dodgerblue;
    border-radius: 360%;

}
.taille{
    font-size: 1.2em;
    font-style: italic;
    font-weight: bold;
    /* pour center une image
        on met margin-left and right dans un block;
        puis on met width 50%
        exemple:
            display: block;
            margin-left: auto;
            margin-right: auto;
            width: 50%;
    */
}

.title_header{
    text-align: center;
    font-size: xx-large;
}

@font-face{
    font-family: 'ma police';
    src: url('mapolice.eot');
}
a:hover{
    text-decoration:underline;
    color: green;
}
a:active{
    background-color: green;
}
a:focus{
    color: blue;
}